h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
  width: 50%;
}

form {
  padding: 1px;
  border: solid blue 1px;
}

a {
  margin-left: 0.5em;
}

p,
a {
  display: flex;
  align-items: center;
  justify-content: center;
}
