h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label,
button {
  margin: 0.5em;
}

a {
  margin-left: 0.5em;
}

p,
a {
  display: flex;
  align-items: center;
  justify-content: center;
}
